{# StormTales Shop Orders Index #}
{% extends "_layouts/cp" %}

{% block content %}
    <div id="no-orders" class="zilch">
        <p>{{ 'No orders yet.'|t('stormtaleshop') }}</p>
        <p class="light">{{ 'Orders will appear here once customers start purchasing products.'|t('stormtaleshop') }}</p>
    </div>

    {# TODO: Add orders table once we have order data #}
{% endblock %}