{# StormTales Shop Carts Index #}
{% extends "_layouts/cp" %}

{% block content %}
    <div class="flex">
        <h1>{{ title }}</h1>
    </div>

    <div id="no-carts" class="zilch">
        <div class="icon">
            {{ svg('@appicons/shopping-cart.svg')|attr({width: 100, height: 100}) }}
        </div>
        <p>{{ 'No active shopping carts.'|t('stormtaleshop') }}</p>
        <p class="light">{{ 'Active and abandoned carts will appear here.'|t('stormtaleshop') }}</p>
    </div>

    {# TODO: Add carts table once we have cart data #}
{% endblock %}