{# StormTales Shop Carts Index #}
{% extends "_layouts/cp" %}

{% block content %}
    <div id="no-carts" class="zilch">
        <p>{{ 'No active shopping carts.'|t('stormtaleshop') }}</p>
        <p class="light">{{ 'Active and abandoned carts will appear here.'|t('stormtaleshop') }}</p>
    </div>

    {# TODO: Add carts table once we have cart data #}
{% endblock %}